<Context>
    <Resource name="jdbc/SeamDS" auth="Container"
              type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://localhost:5432/SeamDB"
              username="postgres" password="Www.dan.com7" maxActive="20" maxIdle="10"
              maxWait="-1"/>
</Context>



